<!DOCTYPE html>
<html lang="ko">
<head><title>MICHELIN</title>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="center">
        <header>
            <h1>
              <a href="indexe.html"><img src="../images/logo.png" alt="로고"></a>
              <a href="indexe.html">MICHELIN</a>
            </h1>
            <div class="language">
              <a href="index.html" target="_blank">한국어</a>
              |
              <a href="indexe.html">English</a>
            </div>
        </header>
        <section>
            <nav>
                <ul>
                    <li><a href="#" class="active">ABOUT</a></li>
                    <li><a href="#">MAGAZINE</a></li>
                    <li><a href="#">2018 GUIDE</a></li>
                    <li><a href="#">PATNERS</a></li>
                </ul>
            </nav>
            <article>
               <div class="wrap">
                    <h1>HISTORY OF THE MICHELIN GUIDE, Once upon a time, in the heart of France…</h1>
                    <p>It all started way back in 1889, in Clermont-Ferrand, when the Michelin brothers founded the Michelin Tire Company (Manufacture Francaise des Pneumatiques Michelin) – this was at a time when driving was considered quite an adventure!</p>
                    <p>In 1900, fewer than 3,000 cars existed in France. The Michelin brothers hit upon the idea of creating a small guide packed with useful information for the new pioneers of the road, such as where to fill up with petrol or change a tire, as well as where to eat and sleep.<br>The Michelin Guide was born!</p>
                    <p >The purpose of the guide was obvious: to track down the best hotels and restaurants across the country. To do this, Michelin employed a veritable armada of anonymous professional inspectors to scour every region – something that had never before been attempted!</p>
                    <p>Over the years, bumpy roads were replaced by smoother highways and the company continued to develop, as indeed did the country’s cuisine: cooks became chefs, artisans developed artists and traditional dishes were transformed into works of art. All the while, the MICHELIN Guide, by now a faithful travel companion, kept pace with – and encouraged – these changes. The most famous distinction awarded by the guide was created in 1926: the “etoile de bonne table” – the famous star which quickly established itself as the reference in the world gastronomy!</p>
                </div>
                <div>
                <img src="../images/food1.jpg" alt="음식">
                <img src="../images/food2.jpg" alt="음식">
                <img src="../images/food3.jpg" alt="음식">
                </div>
                <div>
                <img src="../images/food4.jpg" alt="음식">
                <img src="../images/food5.jpg" alt="음식">
                <img src="../images/food6.jpg" alt="음식">
                </div>
            </article>
        </section>
        <footer>
            <a href="#">CONTACT</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a><br>
            <p class="copyright">Copyright &copy; MICHELIN All rights reserved.</p>
            <div>
              <a href="https://www.instagram.com/michelinguide/" target="_blank"><img src="../images/sns1.png" alt="인스타"></a>
              <a href="#"><img src="../images/sns2.png" alt="페이스북"></a>
            </div>
        </footer>
    </div>
</body>
</html>
