
    /* 초기설정 */
    *{margin:0;padding:0;font-family: 'Open Sans', sans-serif;}
    li{list-style-type:none;}
    a{text-decoration: none;color:#fff;}
    .wrap p{margin-bottom:20px;line-height: 130%; font-weight: 700; color:#212121;}
    body{
        background:#6f866c;
        background-image: url(../images/food.jpg);
        background-repeat: no-repeat;
        background-size: cover; /* 백그라운드의 사이즈 지정 */
        background-attachment: fixed;
    }
    .center{width:1000px; margin:0 auto;}

    /* 머리글 */
    header{background: #bd2332;color:white; position:relative;}
    header h1{text-align: center;padding:30px 0;}
    h1 img{vertical-align: middle;}
    header .language {position:absolute; right:10px; bottom:10px;}
    header .language a:hover{color:#ffcd00;}

    /* 본문 */
    section{background:rgba(255, 255, 255, 0.6); overflow: hidden;}

    nav{float: left;width:200px;}
    nav li a{display:block; border-top:2px solid #fff; padding:20px;color:red; font-weight: bold;}
    nav li a:hover{background: #bd2332; color:#ffcd00;}
    .active{background: #bd2332; color:#ffcd00;}
    article{float: left;width:800px;}
    article .wrap{padding:20px;}

    .wrap h1{
      font-size:30px;
      margin-bottom:30px;
    }

    article img{
      float:left;
      width:33.33%;
      padding:5px;
      box-sizing: border-box;
      height:172px;

    }

    /* 바닥글 */
    footer{clear:left; background:rgba(51, 51, 51, 0.8);color:#fff;text-align: center; padding:15px 0; }
    footer div img {clear:left; width:30px; height:30px;}
    .copyright{
        font-size: 10px;
    }

    footer a:hover{color:#ffcd00;}
